/*

Pagination Navigation
=====================

<ul class="pagination">
	<li><a href="#">&laquo;</a></li>
	<li><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	<li><a href="#">&raquo;</a></li>
</ul>

*/

.pagination{

	@include remit("margin-top", 30);

	.page-numbers{

		li{
			list-style:none;
			display: inline-block;
			vertical-align: top;
			zoom: 1;
			@include remit("margin-right", 5);

			a{
				text-decoration: none;
			}

		}

	}

	@media screen and (max-width: $smaller) {
		@include remit("padding-left", 24);
	}

}