/*

Main
====

Styles for the main element

*/

div[role='main'] {

	.container{
		@include remit("margin-top", 64);
		@include remit("margin-bottom", 64);
	}

}

#banner--home{

	h2{
		@include font-size(18);
		font-family: $openReg;
		text-transform: uppercase;
		color: $white;
		@include remit("letter-spacing", 60);

		@include media($tabletLandscape) {
			@include font-size(14);
			@include remit("letter-spacing", 26);
			@include remit("margin-right", -26);
	  }

	}

}

.center--message{
	display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font-size: 0;
  width: 90%;
  position: relative;
  text-wrap: break-word;
}

.bio__intro{
	@extend .container;

	.bio__pic{
		@include span-columns(4);

		@media screen and (max-width: $medium) {
			@include fill-parent;
		}

		img{

			@media screen and (max-width: $medium) {
				@include remit("margin-bottom", 20);
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

		}

	}

	.bio__desc{
		@include span-columns(8);

		@media screen and (max-width: $medium) {
			@include fill-parent;
		}

		.btn{

			@media screen and (max-width: $medium) {
				margin: 0 auto;
				display: block;
				text-align: center;
			}

		}


	}

}

#gig__list{
	@extend %cf;
	@include remit("margin-bottom", 64);
	overflow: hidden;

	div[class*="gig__date-"]{
		width: 33.333%;
		float: left;
		display: block;
		@include remit("padding-top", 24);
		@include remit("padding-right", 24);
		@include remit("padding-bottom", 54);
		@include remit("padding-left", 24);
		@include box-sizing(border-box);
		color: $white;
		@include remit("min-height", 200);
		position: relative;

		@media screen and (max-width: $regular) {
 			width: 50%;
		}

		@media screen and (max-width: $small) {
 			@include fill-parent;
 			margin: 0;
		}

		&.gig__date-1{
			background-color: $black;
		}

		time{
			@include font-size(14);
			text-transform: uppercase;
			@include remit("letter-spacing", 3);
			color: darken($light-grey, 15);
			display: block;
		}

		span{
			position: absolute;
			@include remit("bottom", 24);
			@include remit("right", 24);
			@include font-size(14);
			line-height: 2;
			margin-bottom: 0;
			&:hover{
				cursor: inherit;
				background-color: $comp-color;
			}
		}

		.gig__location{
			font-family: $heuBold;
			@include font-size(30);
			@include remit("margin-bottom", 5);
		}
		
	}

}

#gig__list{

	background: darken($light-grey, 10);

	h2{
		text-align: center;
		display: block;
		background-color: $light-grey;
		@include remit("padding-top", 24);
		@include remit("padding-bottom", 30);
		margin-bottom: 0;

		&:after{
			@include remit("bottom", 20);
		}
	}

}

@for $i from 2 through 6 {
	.gig__date-#{$i} {
		background-color: lighten($black, 5 * $i);
	}
}

.latest__tracks{
	@extend .container;

	h2{
		text-align: center;
	}

	.track__item{
		@include span-columns(6);

		@media screen and (max-width: $small) {
 			@include fill-parent;
 			float: none;
 			@include remit("margin-bottom", 20);
		}

	}

}

.content__left{
	@include span-columns(7);

	@media screen and (max-width: $medium) {
 			@include fill-parent;
 			float: none;
 			@include remit("margin-bottom", 20);
		}
}

#side__bar{
	@include span-columns(4);
	@include shift(1);
	margin-right: 0;

	@media screen and (max-width: $medium) {
 		@include fill-parent;
 		margin: 0;
	}

	.side__gigfeed{
		@include remit("margin-bottom", 40);

		@media screen and (max-width: $medium) {
 			display: none;
		}
		
		ul{
			
			li{
				list-style: none;
				@include remit("margin-bottom", 10);
				
				p{
					margin-bottom: 0;
				}

				time{
					@include font-size(12);
					color: darken($light-grey, 30);
				}

				.gig_fee{
					color: darken($light-grey, 30);
					@include font-size(12);
				}

			}

		}

	}

	.btn{
		display: block;
		text-align: center;
	}

}